@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-extrabold.woff2') format('woff2'),
       url('../fonts/montserrat-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.card-first-list{
    list-style-type: none;
}

.hero{
    background: #424242;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    min-width: fit-content;
}

.card-first{
    background-color:white ;
    min-width: 190px;
    height: 309px;
    margin-left: 100px;
    padding-top: 21px;
    border-radius: 10px;
    margin-right: 58px;
}

.card-list-item{
    margin-bottom: 20px;
}

.card-first-title{
min-width: 102px;
height: 25px;
left: 122px;
top: 91px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

margin-left: 40px;
color: #333333;
}


.checkbox-name{
min-width: 78px;
height: 19px;
left: 146px;
top: 136px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #333333;
}

.map{
    margin-right: 58px;
}

.select{
height: 39px;
min-width: 176px;
background: #FFFFFF;
border-radius: 10px;
border-color: none;
margin-right: 58px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #333333;
}


[class*="ground-pane"]{
    filter: grayscale(1);
}

.customScroll{
    min-width: 399px;
    height: 310px;
    background-color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 170%;
padding-left: 29px;
padding-top: 20px;
padding-right: 30px;
color: #333333;
margin-right: 58px;
}

.leg{
    min-width: 88px;
height: 12px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
color: #FF5C00;
margin-bottom: 5px;
}

.form-item{
min-width: 380px;
height: 60px;
background: #FFFFFF;
border: 1px solid #FF5C00;
box-sizing: border-box;
border-radius: 10px;
margin-bottom: 25px;
}

.form-btn{
display: flex;
flex-direction: row;
align-items: center;
padding: 17px 53px;
width: 192px;
height: 60px;
background: #FF5C00;
border-radius: 10px;
font-size: 21px;
border-color:#FF5C00;
color: #FFFFFF;
}

.form{
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    margin-right: 58px;
}

.simplebar-scrollbar:before{
background-color: #CCB26E;
}

.tooltypes{

}

.tool-card{
    min-width: 375px;
    height: 160px;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 78px;
    margin-bottom: 30px;
    margin-right: 40px;
    min-width: 300px;
}

.tool-content{
width: 268px;
height: 120px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
color: #333333;
}

.tooltip{
    position: relative;
    width: 16px;
    height: 16px;
}

.marker{
    width: 16px;
    height: 16px;
    background: #CCB26E;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../i.png);
    background-repeat: no-repeat;
    margin-left: 260px;
    margin-top: -25px;

}

.popup{
    width: 180px;
    position: absolute;
    bottom: 16px;
    left: -42px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    background: #777777;;
    color: #FFFFFF;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    box-sizing: border-box;
    margin-left: 230px;
}


.marker:hover + .popup,
.marker:focus + .popup {
    opacity: 1;
}

.choices[data-type*=select-one]{
  margin-right: 58px;
}

.simplebar-scrollbar:before{
  background: #CCB26E;
  border-radius: 5px;
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before{
  opacity: 1;
}

.simplebar-track.simplebar-vertical{
  width: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.simplebar-track{
  right: 2px;
}


.p{
  width: 148px;
}




.new {
  padding: 50px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #CCB26E;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 3px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 4px;
  height: 10px;
  border: solid #CCB26E;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.choices{
  width: 176px;
}

.choices.is-focused.is-open{
  /* z-index: 10; */
}

.choices[data=type*=select-one]{
  z-index: 5;
}

.choices[data-type*=select-one]::after{
  border-color: transparent;
  border-width: 6px;
  background: url(../img/Rectangle\ 141.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 15.6px;
  top: 18px;
}

.choices[data-type*=select-one].is-open::after{
  border-color: transparent;
  background: url(../img/Rectangle\ 141.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 23px;
  right: 5.6px;
}

.choices__inner{
  padding: 9px 0px 11px 15px !important;
  background: #FFFFFF;
  border-radius: 10px;
  line-height: 19px;
  min-height: auto;
}

.choices__placeholder{
  opacity: 1;
}

.is-open .choices__inner{
  background: #FFFFFF;
  line-height: 19px;
  min-height: auto;
  border-radius: 10px;
  border: 1px solid #CCB26E;
}

.choices__list--single{
  padding: 0;
}

.is-open .choices__list--dropdown{
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #CCB26E;
  box-sizing: border-box;
  border-top: none;
  border-radius: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: -4;
}

.is-open .choices__item--choice{
  padding: 10px 0px 10px 15px !important;
}

div[id$="item-choice-1"]{
  display: none;
}

.choices__list--dropdown{
  position: initial;
  width: 110%;
}




